@import "../../../scss/custom.scss";

.data-container {
  border-radius: 0 0 12px 12px;
  max-width: 600px;
  border-width: 2px;
  border-style: solid;
  border-color: $secondary;
  box-shadow: rgba(0, 0, 0, 0.85) 8px 8px 16px;
}

.image-container {
  border-radius: 12px 12px 0 0;
}

.no-auth-decription {
  position: relative;
  font-style: italic;
  font-weight: 300;
  font-size: medium;
}

.card-text-date {
  font-weight: 900,
}